<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <small class="text-danger">*Email is required!</small>

            <mat-form-field>
                <input formControlName="password" matInput type="password" placeholder="Password">
            </mat-form-field>
            <small class="text-danger">*Password is required!</small>

            <button (click)="onSubmit()" [disabled]="loginForm.invalid" mat-raised-button type="submit">Login</button>

            <button mat-raised-button type="submit">Don't have account?
                <a id="forget" routerLink="/signup" >Sign up</a>
            </button>
        </form>
    </mat-card>
</div>