<div class="container my-5">
    <h1 class="mb-3">Devices</h1>

    <table class="table" *ngIf="devices && devices.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Address</th>
                <th>Maximum hourly consumption</th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{device.id}}</td>
                <td>{{device.description}}</td>
                <td>{{device.address}}</td>
                <td>{{device.max_consumption}}</td>
                <td><a [routerLink]="['/devices', 'edit', device.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!devices || devices.length==0">No devices found</p>
</div>